html,
body {
  height: 100%;
}
.num {
  font-variant-numeric: tabular-nums;
}
.react-flow__handle {
  width: 9px;
  height: 9px;
}

@media print {
  .no-print,
  .react-flow,
  nextjs-portal {
    display: none !important;
  }
  .print-root {
    height: auto !important;
    overflow: visible !important;
  }
  body {
    background: #fff !important;
  }
}
